#navbar {
    position: absolute;
    top: 2vh;
    left: 2vh;
    z-index: 3;
    pointer-events: auto;
    padding: 10px;
    height: 55px;
    width: auto;
    color: black;
    background-color: #ffffff;
    border-color: #ffffff;
    display: flex;
    align-items: center;
}

button {
    color: black;
}