body {
    font-family: "instrument-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #FFB487;
    /* comment out the following if i decide not to go w an image background */
    background-image: url("./assets/sunrise5.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    color: #161515;
    pointer-events: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    font-family: "National Park", sans-serif;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    z-index: 2;
    pointer-events: none;
}

#info {
    margin-top: 63vh;
    z-index: 3;
    pointer-events: none;
}

body.dark-mode {
    background-color: #1F2835;
    /* comment out the following if i decide not to go w an image background */
    background-image: url("./assets/sunset.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
        .container {
        background-color: #1F2835;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    }

    .popup .leaflet-popup-content-wrapper {
        border-color: #555555;
        background-color: #ffffff;
        color: #f0f0f0;
    }
    .leaflet-layer,
    .leaflet-control-zoom-in,
    .leaflet-control-zoom-out,
    .leaflet-control-attribution {
        filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    }

    #navbar {
        background-color: #1F2835;
    }
    button {
        background-color: #1F2835;
        color: #f0f0f0;
    }
}

body {
    overflow: hidden;
}