body {
    font-family: "instrument-serif", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #A3BED5;
    color: #161515;
    pointer-events: none;
}

h1 {
    font-family: "National Park", sans-serif;
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    z-index: 2;
    pointer-events: none;
}

#info {
    margin-top: 60vh;
    z-index: 3;
    pointer-events: none;
}

.dark-mode {
    background: #333448;
}

#darkMode {
    position: absolute;
    top: .1vh;
    right: 2vh;
    z-index: 3;
    pointer-events: auto;
    padding: 10px;
    height: 55px;
    width: auto;
    background-color: #ffffff;
    border-color: #ffffff;
}

#darkMode:hover {
    background-color: #e1dfdf;
    border-color: #e1dfdf;
}